.item {
  width: 800px;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.status {
  margin: 20px;
  padding: 20px;
  border-radius: 50%;
}
.onLine {
  composes: status;
  background-color: aquamarine;
}
.offLine {
  composes: status;
  background-color: brown;
}

.status .avatar {
  width: 48px;
  padding-right: 20px;
}
.name {
  margin: 0;
  padding-left: 20px;
}
