.transactionHistory {
  table-layout: fixed;
  /* border-collapse: collapse;
  border: 3px solid purple; */
  width: 800px;
}
th {
  background-color: aqua;
}
th,
td {
  border-collapse: collapse;
  border: 3px solid grey;

  padding: 20px;
  text-align: center;
  border-spacing: 0;
}
